.DS_Store
.cache/
.pio/
*.plist
MDK-ARM/2027-control/
MDK-ARM/*.uvguix.*
MDK-ARM/*.bak
MDK-ARM/*.dep
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.map
*.htm
*.lnp
*.lst
JLinkLog.txt
EventRecorderStub.scvd
compile_commands.json
工创赛控制/.obsidian/workspace.json
scripts/__pycache__/
